name: CI - Flask DevOps API

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Build da imagem Docker (etapa BUILD)
        run: |
          docker build -t devops-api:${{ github.sha }} .

  test:
    runs-on: ubuntu-latest
    needs: build   

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Build da imagem Docker para testes
        run: |
          docker build -t devops-api-test:${{ github.sha }} .

      - name: Rodar testes dentro do container Docker (etapa TEST)
        run: |
          docker run --rm devops-api-test:${{ github.sha }} python -m unittest -v

  
  deploy:
    runs-on: ubuntu-latest
    needs: test  
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'

    steps:
      - name: Etapa de Deploy (documentação)
        run: |
          echo "Fase DEPLOY do pipeline."
          echo "O deploy real em produção é feito pelo Render a cada push na branch main,"
          echo "utilizando o Dockerfile deste repositório."